*.user
Katana.sln.docstates.suo
*.tlog
*.obj
*.idb
*.pdb
level/Debug/
*.ilk
*.sdf
*.suo
*.depend
*.opensdf
engine/Debug/
*.sbr
*.lastbuildstate
*.unsuccessfulbuild
engine/Release/
*.log
*.db
*.crf
*.exp
bin/engine/scripts/paths.script
bin/log.txt
Release/
*.dll
bin/engine/logs/
/.project
*.ipch
*.res
engine/Release/RCa01360
editor_legacy/Debug/RCa07736
*.bsc
*.map
*.layout
*.exe
/Debug (OpenKatana)/
/engine/Release
/tools/MaterialGenerator/nbproject/private/
/references
*.zip
*.class
*.properties
*.am
*.in
/bin/engine/paths.script
*.xml
*.lastcodeanalysissucceeded
*.lock
*.index
*.java
*.DS_Store
*.prefs
*.version
*.a
*.png~
*.out
/external/lpng1618/projects/vstudio/pngtest/Debug
/external/lpng1618/projects/vstudio/pngtest/Release
*.ipdb
*.iobj
/.vs/
/Debug (Ictus)/
/Debug/
